.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/mobile_oil_angular
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
app/build/intermediates/classes/debug/br/com/fjn/mobileoil/MainActivity.class
app/build/intermediates/dex/debug/classes.dex
app/build/intermediates/incremental/mergeResourcesdebug/merger.xml
app/build/intermediates/manifests/full/debug/AndroidManifest.xml
app/build/intermediates/pre-dexed/debug/support-v4-18.0.0-8a02dae1edea097db27d00feed3624aa1a9d5fe9.jar
app/build/intermediates/res/resources-debug.ap_
app/build/outputs/apk/app-debug-unaligned.apk
app/build/outputs/apk/app-debug.apk
app/build/outputs/logs/manifest-merger-debug-report.txt
app/src/main/AndroidManifest.xml
app/src/main/java/br/com/fjn/mobileoil/MainActivity.java
build/intermediates/dex-cache/cache.xml

