<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fjn.mobileoil" >

    <permission
        android:name="br.com.fjn.mobileoil.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.AIzaSyDBY5thaT91z7Lc8fnz9Bzhgvc_kTmY-Vg"
            android:value="AIzaSyDBY5thaT91z7Lc8fnz9Bzhgvc_kTmY-Vg" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAo5QER-VhsiYXhrpkkVPuAGdgbznpto-8" />

        <!--
            <meta-data
            android:name="com.google.android.geo.AIzaSyDBY5thaT91z7Lc8fnz9Bzhgvc_kTmY-Vg"
            android:value="AIzaSyDBY5thaT91z7Lc8fnz9Bzhgvc_kTmY-Vg" />
        -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenciasActivity"
            android:label="@string/title_activity_preferencias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CombustivelActivity"
            android:label="@string/title_activity_combustivel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostoCombustivelDetalhes"
            android:label="@string/title_activity_posto_combustivel_detalhes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginGoogle"
            android:label="@string/title_activity_login_google" />
        <activity
            android:name=".Configuracoes"
            android:label="@string/title_activity_configuracoes" />
        <activity
            android:name=".PerfilDoUsuario"
            android:label="@string/title_activity_perfil_do_usuario" />
        <activity
            android:name=".CombustivelAdicionarValor"
            android:label="@string/title_activity_combustivel_adicionar_valor" >
        </activity>
    </application>

</manifest>
